*{
    padding: 0;
    margin: 0;
}
body{
    
    font-family: 'open Sans', sans-serif;
}
.container{

    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left:70%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/image.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar
{
width: 88%;
margin: auto;
padding: 15px 0;
display: flex;
align-items: center;
justify-content: space-between;
}
#Amharic{
    color: white;
    border: #fff 3px solid;
}
.logo{
    width: 140px;
    cursor: pointer;
}



.content{
    width: 100%;
    position: absolute;
    top: 30%;
}


.left{
    margin-left: 6%;
}

.left h1{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}

.right{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right p{
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    margin-right: 15px;
}

#icon{
    width:80px;
    cursor: pointer;
}

.left h1:hover{
    -webkit-text-stroke: 2px black;
    color: transparent;
    }